Django==1.6.1
djangorestframework==2.3.10
-e git+https://github.com/clelland/MySQL-for-Python-3.git#egg=MySQL-for-Python-3
South==0.8.4
factory-boy==2.3.0
flake8==2.1.0
coverage==3.7.1
django-configurations==0.8
coveralls==0.4.1
django-debug-toolbar==1.0.1
