{% extends 'layout.html' %}


{% load static %}


{% block content %}
    <div>
        <div class="col-md-3">
            <table class="table table-condensed table-bordered legend">
                {% for target in targets %}
                    <tr>
                        <td>{{ target.description }}</td>
                        <td style="background-color: {% if target.status %} green {% else %} red {% endif %}"></td>

                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-offset-1 col-md-4">
            <canvas class="js-activity-chart" width="440" height="440"></canvas>
        </div>
        <div class="col-md-4">
            <table class="table table-condensed table-bordered legend">
                {% for action_info in actions %}
                    <tr>
                        <td>{{ action_info.1 }}</td>
                        <td style="background-color: {{ action_info.2 }}"></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-12 profile__buttons">
            <a class="btn btn-sm btn-default js-get-statistics" data-days="1" href="#" role="button">Day</a>
            <a class="btn btn-sm btn-default js-get-statistics" data-days="7" href="#" role="button">Week</a>
            <a class="btn btn-sm btn-default js-get-statistics" data-days="30" href="#" role="button">Month</a>
        </div>
        <div class="forms-wrapper col-md-offset-4 col-md-8">
            <div class="add-entry-form__wrapper col-md-6">
                <div class="add-entry-form__header">Add time entry</div>

                <form method="POST" class="form-horizontal js-form" action="{% url 'time_entry_list' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <select class="form-control add-entry-form__action-type-select" id="action_type" name="action_type">
                                {% for action in actions %}
                                    <option
                                        {% if forloop.first %}selected="selected" {% endif %}
                                        value="{{ action.0 }}">
                                            {{ action.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-default add-entry-form__add-action-button js-add-action-button">+</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <input type="text" class="form-control" id="time_spend_min" name="time_spend_min" placeholder="time in minutes">
                        </div>
                    </div>
                    <div class="form-group add-entry-form__submit">
                            <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>


            <div class="add-action-type-form__wrapper col-md-6 hidden">
                <div class="add-entry-form__header">Add action type</div>

                <form method="POST" class="form-horizontal js-form" action="{% url 'action_type_list' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <input type="text" class="form-control" id="name" name="name" placeholder="name">
                        </div>
                    </div>
                    <div class="form-group add-entry-form__submit">
                            <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block bottom_js %}
    {{ block.super }}
        <script src="{% static 'vendor/moment.js/moment.js' %}"></script>
        <script src="{% static 'donut_graph.js' %}"></script>
        <script>
            $('.js-add-action-button').on('click', function(){
                var $this = $(this);
                if($this.text() == '+') {
                    $this.text('-');
                }
                else {
                    $this.text('+');
                }
                $('.add-action-type-form__wrapper').toggleClass('hidden');
            });
            $('.js-form').ajaxForm({
                success: function(){
                    $('.js-flash-container').noty({text: 'Time entry added', type: 'success', timeout: 800});
                }
            });
            $('.js-get-statistics').on('click', function(){
                var days = $(this).data('days');
                getStatistics(days, drawDonutGraph);
            });
            getStatistics(1, drawDonutGraph);
        </script>
{% endblock %}
