{% extends 'layout.html' %}


{% load static %}


{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <canvas class="js-activity-chart" width="400" height="400"></canvas>
        <div class="profile__buttons">
            <a class="btn btn-sm btn-default js-get-statistics" data-days="1" href="#" role="button">Day</a>
            <a class="btn btn-sm btn-default js-get-statistics" data-days="7" href="#" role="button">Week</a>
            <a class="btn btn-sm btn-default js-get-statistics" data-days="30" href="#" role="button">Month</a>
        </div>
        <div class="add-entry-form__wrapper">
            <div class="add-entry-form__header">Add time entry</div>

            <form method="POST" class="form-horizontal js-form" action="{% url 'time_entry_list' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="action_type" class="col-sm-3 control-label">Action</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="action_type" name="action_type">
                            {% for action in actions %}
                                <option
                                    {% if forloop.first %}selected="selected" {% endif %}
                                    value="{{ action.0 }}">
                                        {{ action.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="time_spend_min" class="col-sm-3 control-label">Time, min</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="time_spend_min" name="time_spend_min" placeholder="30">
                    </div>
                </div>
                <div class="form-group add-entry-form__submit">
                        <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block bottom_js %}
    {{ block.super }}
        <script src="{% static 'vendor/moment.js/moment.js' %}"></script>
        <script src="{% static 'donut_graph.js' %}"></script>
        <script>
            $('.js-form').ajaxForm({
                success: function(){
                    $('.js-flash-container').noty({text: 'Time entry added', type: 'success', timeout: 800});
                }
            });
            $('.js-get-statistics').on('click', function(){
                var days = $(this).data('days');
                getStatistics(days, drawDonutGraph);
            });
            getStatistics(1, drawDonutGraph);
        </script>
{% endblock %}
